/*
TGJU Web Service

TGJU Web Service Documentation

API version: 1.0.0
Contact: support@persianapi.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tgju

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// GeneralAPIService GeneralAPI service
type GeneralAPIService service

type ApiGetWebServiceCommon1Request struct {
	ctx context.Context
	ApiService *GeneralAPIService
	format *string
	limit *int32
	page *int32
}

// فرمت خروجی
func (r ApiGetWebServiceCommon1Request) Format(format string) ApiGetWebServiceCommon1Request {
	r.format = &format
	return r
}

// تعداد موارد ارایه شده در صفحه
func (r ApiGetWebServiceCommon1Request) Limit(limit int32) ApiGetWebServiceCommon1Request {
	r.limit = &limit
	return r
}

// شماره صفحه برای ارائه دیتا
func (r ApiGetWebServiceCommon1Request) Page(page int32) ApiGetWebServiceCommon1Request {
	r.page = &page
	return r
}

func (r ApiGetWebServiceCommon1Request) Execute() (*CommonLocalResponse, *http.Response, error) {
	return r.ApiService.GetWebServiceCommon1Execute(r)
}

/*
GetWebServiceCommon1 داده های عمومی - بازار داخلی

وب سرویس داده های عمومی

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetWebServiceCommon1Request
*/
func (a *GeneralAPIService) GetWebServiceCommon1(ctx context.Context) ApiGetWebServiceCommon1Request {
	return ApiGetWebServiceCommon1Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CommonLocalResponse
func (a *GeneralAPIService) GetWebServiceCommon1Execute(r ApiGetWebServiceCommon1Request) (*CommonLocalResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CommonLocalResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GeneralAPIService.GetWebServiceCommon1")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/web-service/common/gold-currency-coin"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
        var defaultValue string = "json"
        parameterAddToHeaderOrQuery(localVarQueryParams, "format", defaultValue, "form", "")
        r.format = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
        var defaultValue int32 = 30
        parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
        r.limit = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
        var defaultValue int32 = 1
        parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
        r.page = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
